@model PhoneViewModel

<div class="d-flex justify-content-between container-fluid">
	<h3>Cteate Phone</h3>

</div>

<div class="cotainer-fluid ">
	<form method="post" asp-action="update" enctype="multipart/form-data">
		<div class="row ">
			<div class="form-floating col-md-4">
				<input asp-for="Name" class="form-control" placeholder="Name">
				<label asp-for="Name">Name</label>
				<span asp-validation-for="Name"></span>
			</div>
			<div class="form-floating col-md-4">
				<input asp-for="CostPrice" class="form-control" placeholder="Enter your firstname">
				<label asp-for="CostPrice">CostPrice</label>
				<span asp-validation-for="CostPrice" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-4">
				<input asp-for="SellPrice" class="form-control" placeholder="Enter your firstname">
				<label asp-for="SellPrice">SellPrice</label>
				<span asp-validation-for="SellPrice" class="text-danger"></span>
			</div>

		</div>
		<div class="row mt-3">


			<div class="form-floating col-md-4">
				<input asp-for="DiscountPrice" class="form-control" placeholder="Enter your firstname">
				<label asp-for="DiscountPrice">DiscountPrice</label>
				<span asp-validation-for="DiscountPrice" class="text-danger"></span>
			</div>
			<div class="col-md-4">

				<textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
				<span asp-validation-for="Description"></span>
			</div>
			<div class="form-check form-check-success mb-3 mt-3 col-md-2">
				<input class="form-check-input" type="checkbox" asp-for="IsAvailablity">
				<label class="form-check-label" asp-for="IsAvailablity">
					IsAvailablity
				</label>
			</div>
			<div class="form-check form-check-success mb-3 mt-3 col-md-2">
				<input class="form-check-input" type="checkbox" asp-for="IsFeatured">
				<label class="form-check-label" asp-for="IsFeatured">
					IsFeatured
				</label>
			</div>
		</div>
		<div class="row mt-3">
			<div style="width:200px" class="vol-md-3">
				<label asp-for="PosterImage" class="form-label">Poster Image</label>
				<input asp-for="PosterImage" class="form-control">
				<img style="width:100px" src="~/uploads/products/@ViewBag.PosterImage?.Image" />
				<span asp-validation-for="PosterImage"></span>
			</div>
			<div class="form-floating col-md-3 mt-2">
				<input asp-for="ProductCount" class="form-control" placeholder="ProductCount">
				<label asp-for="ProductCount">ProductCount</label>
				<span asp-validation-for="ProductCount" class="text-danger"></span>
			</div>
			<div class="form-check form-check-success mb-3 mt-3 col-md-2">
				<input class="form-check-input" type="checkbox" asp-for="IsNew">
				<label class="form-check-label" asp-for="IsNew">
					IsNew
				</label>
			</div>
			<div class="col-md-2 mt-2">
				<select class="form-select" asp-for="BrandId" asp-items="@(new SelectList(ViewBag.Brands,"Id","Name"))">
				</select>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-md-4">
				<label asp-for="ImageFiles" class="form-label"> Images</label>
				<input asp-for="ImageFiles" class="form-control">
				<span asp-validation-for="ImageFiles"> </span>
				<div class="row">
					@*@foreach (var item in ViewBag.Images)
					{
						<div class="mt-3 col" style="width:150px;position:relative">
							<img style="width:100px" src="~/uploads/products/@item?.Image" />
							<span class="text-danger deleteBtnImage" style="position: absolute;top: -13%;right: 4%;font-weight: bold;font-size: 19px;cursor:pointer">X</span>
							<input type="hidden" name="ImageIds" value="@item?.Id" />
						</div>

					}*@
					@foreach (var Image in ViewBag.Images)
					{
						<div class="mt-3 mb-3" style="position:relative;margin-right:10px">
							<img style="width:100;height:100px;position: relative;" src="~/uploads/products/@Image.Image" />
							<span class="text-danger deleteBtnImage" style="position: absolute;top: -13%;right: 4%;font-weight: bold;font-size: 19px;cursor:pointer">X</span>"
							<input type="hidden" name="ImageIds" value="@Image.Id" />
							@*<a class="position: absolute; top:20px;r" asp-action="deleteimage" asp-controller="book" asp-route-id="@Image.Id"><img style="width:30px" src="~/manage/img/delete.png" /></a>*@
						</div>
					}
				</div>
				
			</div>

		</div>
		
		<div class="d-flex justify-content-between container-fluid mt-4">
			<h3>Phone Features</h3>

		</div>
		<div class="row mt-3">
			<div class="form-floating col-md-3">
				<input asp-for="Ekran" class="form-control" placeholder="Ekran">
				<label asp-for="Ekran">Ekran</label>
				<span asp-validation-for="Ekran"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="DaxiliYaddaş" class="form-control" placeholder="DaxiliYaddaş">
				<label asp-for="DaxiliYaddaş">DaxiliYaddaş</label>
				<span asp-validation-for="DaxiliYaddaş" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="OperativYaddaş" class="form-control" placeholder="OperativYaddaş">
				<label asp-for="OperativYaddaş">OperativYaddaş</label>
				<span asp-validation-for="OperativYaddaş" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="EsasKamera" class="form-control" placeholder="EsasKamera">
				<label asp-for="EsasKamera">EsasKamera</label>
				<span asp-validation-for="EsasKamera" class="text-danger"></span>
			</div>

		</div>
		<div class="row mt-3">
			<div class="form-floating col-md-3">
				<input asp-for="OnKamera" class="form-control" placeholder="OnKamera">
				<label asp-for="OnKamera">OnKamera</label>
				<span asp-validation-for="OnKamera"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="NüveSayı" class="form-control" placeholder="NüveSayı">
				<label asp-for="NüveSayı">NüveSayı</label>
				<span asp-validation-for="NüveSayı" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="ProsessorunAdı" class="form-control" placeholder="ProsessorunAdı">
				<label asp-for="ProsessorunAdı">ProsessorunAdı</label>
				<span asp-validation-for="ProsessorunAdı" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="ProsessorunTezliyi" class="form-control" placeholder="ProsessorunTezliyi">
				<label asp-for="ProsessorunTezliyi">ProsessorunTezliyi</label>
				<span asp-validation-for="ProsessorunTezliyi" class="text-danger"></span>
			</div>

		</div>
		<div class="row mt-3">
			<div class="form-floating col-md-3">
				<input asp-for="EmeliyyatSistemi" class="form-control" placeholder="EmeliyyatSistemi">
				<label asp-for="EmeliyyatSistemi">EmeliyyatSistemi</label>
				<span asp-validation-for="EmeliyyatSistemi"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="EmeliyyatSistemiVersiyası" class="form-control" placeholder="EmeliyyatSistemiVersiyası">
				<label asp-for="EmeliyyatSistemiVersiyası">EmeliyyatSistemiVersiyası</label>
				<span asp-validation-for="EmeliyyatSistemiVersiyası" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="İstehsalİli" class="form-control" placeholder="İstehsalİli">
				<label asp-for="İstehsalİli">İstehsalİli</label>
				<span asp-validation-for="İstehsalİli" class="text-danger"></span>
			</div>
			<div class="form-floating col-md-3">
				<input asp-for="Çeki" class="form-control" placeholder="Çeki">
				<label asp-for="Çeki">Çeki</label>
				<span asp-validation-for="Çeki" class="text-danger"></span>
			</div>

		</div>
		<div class="row mt-3">
			<div class="form-floating col-md-3">
				<input asp-for="İstehsalçı" class="form-control" placeholder="İstehsalçı">
				<label asp-for="İstehsalçı">İstehsalçı</label>
				<span asp-validation-for="İstehsalçı"></span>
			</div>
		</div>
		<div asp-validation-summary="ModelOnly"></div>

		<button class="btn btn-outline-info btn-block mt-3" type="submit">Submit</button>
	</form>


</div>